* {
  margin: 0;
}

/*@font-face {
  font-family: 'Avenirl';
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: 'Avenir bold';
  font-style: bold;
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'neoubold';
    src: url('../fonts/neou-bold-webfont.woff2') format('woff2'),
         url('../fonts/neou-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/*html {
  font-family: 'Avenirl';
}*/